*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
#sticky{
      position: sticky;
      top: 0;
      z-index: 9000;
}
#head{
      
      background-color: rgb(0, 0, 0);
     

}
#logo{
      width: 140px;
      height: 30px;
      margin-top: 8px;
      margin-left: 13px;
      margin-bottom: 8px;
     
}
#sub{
      float: right;
      padding: 5px;
      margin-top: 8px;
      margin-right: 15px;
      width: 93px;
      height: 31px;
      border: 1px solid black;
      border-radius: 7px;
      background-color: rgb(8, 158, 8);
      color: white;
      
}
#nav{
      height: 80px;
      background-color: white;
      
     
      
}
.link{
      /* float: right; */
      display: inline-block;
      padding: 12px;
      font-weight: bold;
      font-size: large;
      
}
#ul{
      display: inline-block;
      position: relative;
      left: 330px;
      /* background-color: rgb(231, 50, 177); */
      top: 7px;
}
#nav ul li a{
      text-decoration: none;
      color: black;
}
#sub1{
      display: inline-block;
      position: relative;
      left: 340px;
      top: 7px;
      padding: 10px 15px;
      background-color: rgb(8, 158, 8);
      color: white;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bolder;
}
#logo2{
      position: relative;
      left:130px;
      top: 18px;
}
#bimage{
      /* border: 1px solid red; */
      width: 100%;
      height: 764px;
      /* opacity: 0.8; */
      
      /* filter: blur(9px); */
      /* border: 5px solid black; */
      /* position: fixed; */
     
      
}
#main{
      position: relative;
      border: 1px solid black;
      /* margin-top: 15//px/; */

}
#fh{
      position: absolute;
      color: white;
      top: 150px;
      left: 180px;
      font-size: 56px;
      text-align: center;
      padding: 0;
      font-weight: bold;
      /* color:rgb(124, 19, 223); */
}
#para{
      position: absolute;
      color: white;
      top: 290px;
      left: 280px;
      font-size: 23px;
      text-align: center;
      font-weight:90px;
      /* color:greenyellow; */
}
#fj{
      position: absolute;
      top: 380px;
      left: 560px;
      color: white;
      background-color: rgb(16, 197, 86);
      padding:16px;
      width: 110px;
      border-radius: 8px;
      font-weight: bold;
      font-size: 15px;

}
#pj{
      position: absolute;
      color: whitesmoke;
      top: 380px;
      left: 680px;
      background-color: rgb(231, 180, 9);
      padding: 16px;
      width: 110px;
      border-radius: 8px;
      font-size: 15px;
      font-weight: bold;
}

#nav ul li a:hover{
      color: blue;
      font-size: 20px;
      transition-duration: 0.2s;
      /* transition: delay 2s;  */
      transition-timing-function: ease-in-out;
      
}

#sub1:hover{
      background-color: blue;
      transition-duration: 0.2s;
      font-size: 12px;
      transition-timing-function: ease-in-out;
}
#sub:hover{
      background-color: blue;
      transition-duration: 0.2s;
      font-size: 12px;
      transition-timing-function: ease-in-out;
}
#fj:hover{
      background-color: blue;
      transition-duration: 0.2s;
      font-size: 12px;
      transition-timing-function: ease-in-out;
}
#pj:hover{
      background-color: blue;
      transition-duration: 0.2s;
      font-size: 12px;
      transition-timing-function: ease-in-out;
}